selenium>=4.20.0
pytest>=8.0.0
pytest-xdist>=3.6.0
pytest-html>=4.1.0
pytest-rerunfailures>=14.0
webdriver-manager>=4.0.0
allure-pytest>=2.13.0
PyYAML>=6.0
python-dotenv>=1.0.0
requests>=2.31.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
loguru>=0.7.2
Faker>=33.0.0
